@import "./breakpoints.scss";

$black:black;

.select{
  position: relative;
  display: block;
  z-index: 10;
}
.line{
    font-size: 40px;
    margin-bottom: 5px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-family: Josefin Sans;
    z-index: 100;
    mix-blend-mode: difference;
    @include media("<=768px") {
      font-size: 32px;
      
      color:pink;
    }

    

}
.about{
    cursor: pointer;
    font-size:28px;
    color: purple;
    //text-decoration: none;
    //font-weight: ;
    font-family: Josefin Sans;
    position: relative;
    
    span{

    
    &:after {
          content: "";
          position: absolute;
          width: 0;
          height: 2px;
          display: block;
          margin-top: 5px;
          right: 0;
          background: $black;
          transition: 0.4s ease;
    }
    &:hover {
          color: pink;
        &:after {
            width: 100%;
            left: 0;
            background: $black;
          }
        }
    }
}


